:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #1b0760;
    --color-body: #8f8aa0;
    --color-border: solid #ccc;
    --border-radius: 30px;
}

*,*::after,*::before{
    box-sizing: border-box;
}
/* Typography */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    h1{
        font-size: 8rem;
    }
    h3{
        font-size: 2.4rem;
    }
    body{
        font-size: 1.8rem;
    }
}
/* Links */
a{
    text-decoration: none;
}
.arrow-link{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-accent);
    font-weight: bold;
    font-size: 2;
}
.arrow-link::after{
    content: "-->";
    margin-left: 5px;
    transition: margin .15s;
}
.arrow-link:hover::after{
    margin-left: 10px;
}
@media screen and (min-width: 1024px) {
    .arrow-link{
        font-size: 1.5rem;
    }
}

/* badges */
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--primary{
    color: #fff;
    background-color: var(--color-primary);
}
.badge--secondary{
    color: #fff;
    background-color: var(--color-secondary);
}
.badge--small{
    font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {

    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}
/* lists */
.list{
    padding-left: 0;
    list-style: none;
    color: var(--color-heading);
}
.list--inline .list__item{
display: inline-block;
margin-right: 2rem;
}
.list--tick{
    padding-left: 3rem;
    list-style-image: url(../images/tick.svg);
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
}
/* icons */
.icon {
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon-container{
    align-items: center;
    background-color: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}
/* buttons */
.butt{
    border-radius: 40px;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    font-weight: 600rem;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}
.button--primary{
background-color: var(--color-primary);
color: #ffffff;
}
.button--primary:hover{
    background-color: #4494fc;
}
.button--secondary{
    background-color: var(--color-secondary);
    color: #ffffff;
}
.button--secondary:hover{
    background-color: #34dcf9;
}
.button--accent{
    background-color: var(--color-accent);
    color: #ffffff;
}
.button--accent:hover{
    background-color: #ff491a;
}
.button--outline{
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
    background: transparent;
}
.button--outline:hover{
    background: var(--color-heading);
    color: #fff;
}
.button--block{
    width: 100%;
    display: inline-block;
}
@media screen and (min-width: 1024px) {

    .butt{
        font-size: 1.5rem;
    }
}
/* inputs */
.input{
border-radius: var(--border-radius);
border: 1px var(--color-border);
color: var(--color-heading);
font-size: 2rem;
outline: 0;
padding: 1.5rem 3rem;
}
.input:focus{
    border: 1px solid var(--color-heading);
}
.input-group{
    border-radius: var(--border-radius);
    border: 1px var(--color-border);
    display: flex;
}
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}
.input-group .butt{
    margin: 4px;
}
::placeholder{
    color: #dbdae2;
}
@media screen and (min-width: 1024px) {
    .input{
        font-size: 1.5rem;
    }
}