<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>Lorem ipsum dolor sit amet.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/Icons.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__title">Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
        aspernatur!
      </p>
      <a href="#" class="arrow-link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy@1.webp 1x, images/easy@2.webp 2X"
      />
      <source
        type="image/jpg"
        srcset="images/easy@1.jpg 1x, images/easy@2.jpg 2X"
      />
      <img class="feature__image" src="images/easy@2.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/Icons.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__title">simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
        aspernatur!
      </p>
      <a href="#" class="arrow-link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast@1.webp 1x, images/fast@2.webp 2X"
      />
      <source
        type="image/jpg"
        srcset="images/fast@1.jpg 1x, images/fast@2.jpg 2X"
      />
      <img class="feature__image" src="images/fast@2.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/Icons.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__title">wordpress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
        aspernatur!
      </p>
      <a href="#" class="arrow-link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress@1.webp 1x, images/wordpress@2.webp 2X"
      />
      <source
        type="image/jpg"
        srcset="images/wordpress@1.jpg 1x, images/wordpress@2.jpg 2X"
      />
      <img class="feature__image" src="images/wordpress@2.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/Icons.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__title">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
        aspernatur!
      </p>
      <a href="#" class="arrow-link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/Support@1.webp 1x, images/Support@2.webp 2X"
      />
      <source
        type="image/jpg"
        srcset="images/Support@1.jpg 1x, images/Support@2.jpg 2X"
      />
      <img class="feature__image" src="images/Support@2.jpg" alt="" />
    </picture>
  </article>
</section>
