<section class="block block--dark hero">
  <div class="container block__title grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__title">Cloud hosting for pros</h1>
      <p class="hero__body-text">
        Deploy your website with less than 60 seconds
      </p>
      <a href="" class="butt button--accent button--stretched">Get Started</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner@1.webp 1x, images/banner@2.webp 2x" />
      <source
        type="image/png"
        srcset="images/banner@1.png 1x, images/banner@2.png 2x" />
      <img class="hero__image" src="images/banner@1.png" alt=""
    /></picture>
  </div>
</section>
